<div id="nav">
  <div class="brand" id="brand"><h1><a href="#about" class="scroll"> stephanie barreyro</a></h1></div>
  <div class="small-11 small-centered large-10 large-centered columns" id="menu" >
    <ul>
      <a href="#blank-one" class="scroll">.hello.</a></li>
      <a href="#blank-two" class="scroll">projects.</a></li>
      <a href="#blank-three" class="scroll">skills.</a></li>
    </ul>
  </div>
</div>

<div id="blank-one" class="blank-one">
  <div class="welcome">
  <h2>Hello!</h2><br>
    <h3 class="intro">I'm Stephanie.</h3>
    <h3 class="intro">Web Developer & Tech Enthusiast </h3>
    <br>
    <row class="icons">
      <%= link_to image_tag("../../assets/in.png"), "http://www.linkedin.com/in/barreyro" %>
      <%= link_to image_tag("../../assets/gplus.png"), "http://plus.google.com/114512923066155630035/about" %>
      <%= link_to image_tag("../../assets/github.png"), "https://github.com/barreyro" %>
      <%= link_to image_tag("../../assets/twitter.png"), "http://www.twitter.com/stephbarreyro" %>
      <%= link_to image_tag("../../assets/email.png"), "mailto:stephaniebarreyro@gmail.com" %>
    </row><br><br><br>
    <span id="down">
    <%= link_to image_tag("../../assets/down.png"), "#about" %><br></span><br>
  </div>
</div>

<div id="about" class="about">
  <div class="white">
    <div class="small-11 small-centered large-10 large-centered columns" id="skill-spiel">
      <h2> <center>About</center></h2>
    <center>
      <strong>"Someone is sitting in the shade today because someone planted a tree a long time ago." - Warren Buffett </strong><br><br>
      My passion is for people and technology. What I love most about coding is its ability to make someone else's life better. <br><br>Wanna collaborate, grab coffee, or discuss a sports game? I'm always exploring  and engaging in conversations with new people. I can be reached using the contact info above.  <br><br>
    </center>
  </div>
  </div>
</div>

<div id="blank-two" class="blank-two">
  <h2>My Work</h2>
</div>

<div class="black">
 <p>
  <br>
  <div id="wrapper">
    <div class="row">
      <div class="small-12 medium-6 large-6 columns">
        <ul id="category-gallery" class="grid caption-hover">
        <li class="project-tile web">
          <figure>
            <span>
                <%= image_tag("lotifyme.png", :class=>"bwimg", :alt => "rss feed") %>
            </span>
            <figcaption>
              <h3>LOTIFYME</h3>
              <p>
                <span>-Rails<br>
                  -Foundation<br>
                  -SendGrid<br>
                  -Api</span>
                <a href="http://www.lotifyme.co">View </a>
              </p>
            </figcaption>
          </figure>
        </li>
      </ul>

      </div>
      <div class="small-12 medium-6 large-6 columns">
        <ul id="category-gallery" class="grid caption-hover">
        <li class="project-tile web">
          <figure>
            <span>
                <%= image_tag("i_ball.png", :class=>"bwimg", :alt => "rss feed") %>
            </span>
            <figcaption>
              <h3>iBALL</h3>
              <p>
                <span>-Rails<br>
                      -JavaScript<br>
                </span>
                <a href="http://github.com/barreyro/iBall">View </a>
              </p>
            </figcaption>
          </figure>
        </li>
      </ul>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="small-12 medium-6 large-6 columns">
        <ul id="category-gallery" class="grid caption-hover">
        <li class="project-tile web">
          <figure>
            <span>
              <%= image_tag("graphme.png", :class=>"bwimg", :alt => "rss feed") %>
            </span>
            <figcaption>
              <h3>GRAPH GAMES</h3>
              <p>
                <span>-js.d3<br>
                      -AngularJS<br>
                </span>
                <a href="http://github.com/barreyro/graphgames">View </a>
              </p>
            </figcaption>
          </figure>
        </li>
      </ul>
      </div>

      <div class="small-12 medium-6 large-6 columns">
        <ul id="category-gallery" class="grid caption-hover">
          <li class="project-tile web">
            <figure>
              <span>
                <%= image_tag("bobabae.png", :class=>"bwimg",  :alt => "rss feed") %>
              </span>
              <figcaption>
                <h3>BOBABAE</h3>
                <p>
                  <span>-JavaScript<br>
                    -Sinatra<br>
                  <a href="http://github.com/barreyro/bobabae">View </a>
                </p>
              </figcaption>
            </figure>
          </li>
      </ul>
      </div>
    </div>
  </div>
  </p>
</div>

<div id="blank-three" class="blank-three">
  <h2>Skills</h2>
</div>

<div class="skill-white">
  <br><br>
  <div class="small-12 small-centered large-10 large-centered columns" id="skill-spiel">
    <center>
      In fast-paced environments, software engineers need more than excellence, enthusiasm, and empathy to ship inspiring applications. Along with those qualities, my experience across many languages, frameworks, and development environments has taught me how to select and apply the best technology for any project.<br><br><br>
    </center>
  </div>

  <div class="small-12 medium-2  medium-offset-1 large-2 large-offset-1 columns" id="skilldiv">
    <center>
      <span class="skill-icon"><h4>Languages</h4> <%= image_tag("languages.png") %><br><br></span>
      <div class="small-12 medium-12 large-12 columns" id="skill_feature">
        Ruby<Br>
        JavaScript<br>
        HTML5/CSS3<br>
        Sass
      </div>
    </center>
  </div>

  <div class="small-12 medium-2 large-2 columns" id="skilldiv">
    <center>
      <span class="skill-icon"> <h4>Frameworks</h4><%= image_tag("framework.png") %><br><br></span>
      <div class="small-12 medium-12 large-12 columns" id="skill_feature">
        Rails<br>
        AngularJS<Br>
        Sinatra<br>
        Foundation
      </div>
    </center>
  </div>

  <div class="small-12 medium-2 large-2 columns" id="skilldiv">
    <center>
      <span class="skill-icon"><h4>UX</h4><%= image_tag("ux.png") %><br><br></span>
      <div class="small-12 medium-12 large-12 columns" id="skill_feature">
        UX Strategies<br>
        Interaction Design<br>
        Wireframing
      </div><br>
    </center>
  </div>

 <div class="small-12 medium-2 large-2 columns" id="skilldiv">
    <center>
    <span class="skill-icon"><h4>Libraries</h4><%= image_tag("library.png") %><br><br></span>
    <div class="small-12 medium-12 large-12 columns" id="skill_feature">
        D3.JS<br>
        jQuery/AJAX<br>
        Underscore.js
    </div><br>
    <center>
  </div>

  <div class="small-12 medium-3  large-3 columns" id="skilldiv">
    <center>
    <span class="skill-icon"><h4>Miscellaneuous</h4><%= image_tag("misc.png") %><br><br></span>
      <div class="small-12 medium-12 large-12 columns" id="skill_feature">
        TDD<br>
        GitHub<br>
        Heroku<br>
        OOP<br>
        Sports & Fitness!
      </div>
    </div>
    </center>
</div>

<div class="credit" id="credit">Icons made by <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>
