<link href='http://fonts.googleapis.com/css?family=Nixie+One|La+Belle+Aurore|Homemade+Apple|Cinzel' rel='stylesheet' type='text/css'>

<div id="nav">
  <div class="brand"><h1><a href="#blank-one" class="scroll"> stephanie barreyro</a></h1></div>
  <div class="menu">
    <ul>
      <li><a href="#blank-two" class="scroll">projects</a></li>
      <li><a href="#blank-three" class="scroll">contact</a></li>
    </ul>
  </div>
</div>

<div id="blank-one" class="blank-one">
  <h2>Hi! I'm Steph</h2>
</div>

<div class="white">
  <div class="text"><p>I'm a web developer.</p></div>
</div>

<div id="blank-two" class="blank-two">
  <h2>projects</h2>
</div>

<div class="black">
  <div class="row collapse">
  <div class="text">
    <p class="text-center" id="project-imgs">
      <ul class="small-block-grid-2 medium-block-grid-3 large-block-grid-3">
        <br>
        <li>
          <%= link_to image_tag("../../assets/lotify.png"), "http://www.lotifyme.co/" %>
        </li>
        <li>
          <%= link_to image_tag("../../assets/unicorn.png"), "http://survey-unicorn.herokuapp.com" %>
        </li>
        <li>
           <%= link_to image_tag("../../assets/iball.png"), "http://i-ball.herokuapp.com/" %>
        </li>
        <li>
           <%= link_to image_tag("../../assets/fantasy.png"), "http://gographs.herokuapp.com" %>
        </li>
        <li>
           <%= link_to image_tag("../../assets/dinner.png"), "https://github.com/barreyro/PythonRestaurant" %>
        </li>
        <li>
           <%= link_to image_tag("../../assets/boba.png"), "http://bo-ba.herokuapp.com/" %>
        </li>
      </ul>
    </p>
  </div>
  </div>
</div>

<div id="blank-three" class="blank-three">
  <h2>contact</h2>
</div>

<div class="white">
  <div class="text"><p>
    stephaniebarreyro [at] gmail [dot] com<br>
  linkedin.com/in/barreyro<br></p>
</div>
