<div id="nav">
  <div class="brand"><h1><a href="#blank-one" class="scroll"> stephanie barreyro</a></h1></div>
  <div class="menu">
    <ul>
      <a href="#about" class="scroll">hello</a></li>
      <a href="#blank-two" class="scroll">projects</a></li>
      <a href="#blank-three" class="scroll">skills</a></li>
      <a href="#blank-four" class="scroll">contact</a></li>
    </ul>
  </div>
</div>

<div id="blank-one" class="blank-one">
  <div class="welcome">
  <h2>Hello!</h2><br>
    <h3 class="intro">I'm Stephanie.</h3>
    <h3 class="intro">Web Developer & Tech Enthusiast </h3>
    <br>
    <row class="icons">
      <%= link_to image_tag("../../assets/in.png"), "http://www.linkedin.com/in/barreyro" %>
      <%= link_to image_tag("../../assets/gplus.png"), "http://plus.google.com/114512923066155630035/about" %>
      <%= link_to image_tag("../../assets/github.png"), "https://github.com/barreyro" %>
      <%= link_to image_tag("../../assets/twitter.png"), "http://www.twitter.com/stephbarreyro" %>
      <%= link_to image_tag("../../assets/email.png"), "mailto:stephaniebarreyro@gmail.com" %>
    </row>
  </div>
</div>

<div id="about" class="about">
  <div class="white">
    <div class="text">
          <p><h2> <center>About</center></h2>
          I recently finished a 19 week coding bootcamp in New York City. Prior to attending Dev Bootcamp, I worked as a DevOps intern and Applications Administrator at UC Davis IT Services. I  have a bachelor's degree in Psychology and Human Development. When I'm not coding, I like to cook, read, play poker, or spam my friends with NBA gifs.
          </p>
    </div>
  </div>
</div>

<div id="blank-two" class="blank-two">
  <h2>My Work</h2>
</div>

<div class="black">
 <p>
  <br>
  <div id="wrapper">
    <div class="row">
      <div class="small-10 medium-6 large-6 columns">
        <ul id="category-gallery" class="grid caption-hover">
        <li class="project-tile web">
          <figure>
            <span>
                <%= image_tag("lotifyme.png", :class=>"bwimg", :alt => "rss feed") %>
            </span>
            <figcaption>
              <h3>LOTIFYME</h3>
              <p>
                <span>-Rails<br>
                  -Foundation<br>
                  -SendGrid<br>
                  -Api</span>
                <a href="http://www.lotifyme.co">View </a>
              </p>
            </figcaption>
          </figure>
        </li>
      </ul>

      </div>
      <div class="small-10 medium-6 large-6 columns">
        <ul id="category-gallery" class="grid caption-hover">
        <li class="project-tile web">
          <figure>
            <span>
                <%= image_tag("i_ball.png", :class=>"bwimg", :alt => "rss feed") %>
            </span>
            <figcaption>
              <h3>iBALL</h3>
              <p>
                <span>-Rails<br>
                      -JavaScript<br>
                </span>
                <a href="http://github.com/barreyro/iBall">View </a>
              </p>
            </figcaption>
          </figure>
        </li>
      </ul>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="small-10 medium-6 large-6 columns">
        <ul id="category-gallery" class="grid caption-hover">
        <li class="project-tile web">
          <figure>
            <span>
              <%= image_tag("graphme.png", :class=>"bwimg", :alt => "rss feed") %>
            </span>
            <figcaption>
              <h3>GRAPH GAMES</h3>
              <p>
                <span>-js.d3<br>
                      -AngularJS<br>
                </span>
                <a href="http://github.com/barreyro/graphgames">View </a>
              </p>
            </figcaption>
          </figure>
        </li>
      </ul>
      </div>

      <div class="small-10 medium-6 large-6 columns">
        <ul id="category-gallery" class="grid caption-hover">
          <li class="project-tile web">
            <figure>
              <span>
                <%= image_tag("bobabae.png", :class=>"bwimg",  :alt => "rss feed") %>
              </span>
              <figcaption>
                <h3>BOBABAE</h3>
                <p>
                  <span>-JavaScript<br>
                    -Sinatra<br>
                  <a href="http://github.com/barreyro/bobabae">View </a>
                </p>
              </figcaption>
            </figure>
          </li>
      </ul>
      </div>
    </div>
  </div>
  </p>
</div>

<div id="blank-three" class="blank-three">
  <h2>Skills</h2>
</div>

<div class="skill-white">
  <br><br>
  <div class="small-11 small-centered large-10 large-centered columns" id="skill-spiel">
    <center>
      In fast-paced environments, software engineers need more than excellence, enthusiasm, and empathy to ship inspiring applications. My experience across many languages, frameworks, and development environments, taught me how to select and learn technologies that are best suited for any project.<br><br>
    </center>
  </div>

  <div class="small-6 large-2 large-offset-1 columns" id="skilldiv">
    <center><h4>Languages</h4>
      <span class="skill-icon"> <%= image_tag("languages.png") %></span>
      <div class="skill_feature">
        Ruby<Br>
        JavaScript<br>
        HTML5<br>
        CSS3<br>
        Sass<br>
      </div>
    </center>
  </div>

  <div class="small-6 medium-2 large-2 columns" id="skilldiv">
    <center><h4>Frameworks</h4>
      <span class="skill-icon"> <%= image_tag("framework.png") %></span>
      <div class="skill_feature">
        Rails<br>
        AngularJS<Br>
        Sinatra<br>
        Foundation<br>
      </div>
    </center>
  </div>

  <div class="small-6 medium-2 large-2 columns" id="skilldiv">
    <center><h4>UX</h4>
      <span class="skill-icon"><%= image_tag("ux.png") %></span>
      <div class="skill_feature">
        UX Strategies<br>
        User goals & work patterns<Br>
        Interaction Design<br>
        Wireframing
      </div>
    </center>
  </div>

  <div class="small-6 medium-2 large-2 columns" id="skilldiv">
    <center><h4>Libraries</h4>
    <span class="skill-icon"><%= image_tag("library.png") %></span>
    <div class="skill_feature">
        D3.JS<br>
        AJAX/jQuery
    </div>
    <center>
  </div>

  <div class="small-6 medium-2 large-2 columns large-offset-1" id="skilldiv">
    <center><h4>Miscellaneuous</h4>
    <span class="skill-icon"><%= image_tag("misc.png") %></span>
    <div class="skill_feature">
      TDD<br>
      GitHub<br>
      Heroku<br>
      OOP<br>
      Agile<br>
    </div>
    </center>
  </div>
</div>

<div id="blank-four" class="blank-four">
  <h2>Contact</h2>
</div>

<div class="white">
  <div class="text"><p><center>
    <strong>email:</strong> stephaniebarreyro@gmail.com<br>
    <strong>phone:</strong> 415.967.1074
  <br></p>
</div>
