<div id="nav">
  <div class="brand"><h1><a href="#blank-one" class="scroll"> stephanie barreyro</a></h1></div>
  <div class="menu">
    <ul>
      <li><a href="#about" class="scroll">hello</a></li>
      <li><a href="#blank-two" class="scroll">projects</a></li>
      <li><a href="#blank-three" class="scroll">skills</a></li>
      <li><a href="#blank-four" class="scroll">contact</a></li>
    </ul>
  </div>
</div>

<div id="blank-one" class="blank-one">
  <div class="welcome">
  <h2>Hello!</h2><br>
    <h3 class="intro">I'm Stephanie.</h3>
    <h3 class="intro">Web Developer & Tech Enthusiast </h3>
    <br>
    <row class="icons">
      <%= link_to image_tag("../../assets/in.png"), "http://www.linkedin.com/in/barreyro" %>
      <%= link_to image_tag("../../assets/gplus.png"), "http://plus.google.com/114512923066155630035/about" %>
      <%= link_to image_tag("../../assets/github.png"), "https://github.com/barreyro" %>
      <%= link_to image_tag("../../assets/twitter.png"), "http://www.twitter.com/stephbarreyro" %>
      <%= link_to image_tag("../../assets/email.png"), "mailto:stephaniebarreyro@gmail.com" %>
    </row>
  </div>
</div>

<div id="about" class="about">
  <div class="white">
    <div class="text">
          <p><h2> <center>About</center></h2>
          I recently finished a 19 week coding bootcamp in New York City. Prior to attending Dev Bootcamp, I worked as a DevOps intern and Applications Administrator at UC Davis IT Services. I  have a bachelor's degree in Psychology and Human Development. When I'm not coding, I like to cook, read, play poker, or spam my friends with NBA gifs.
          </p>
    </div>
  </div>
</div>

<div id="blank-two" class="blank-two">
  <h2>My Work</h2>
</div>

<div class="black">
 <p>
  <br>
  <div id="wrapper">
    <div class="row">
      <div class="small-6 medium-6 large-6 columns">
          <%= image_tag("lotifyme.png", :class=>"bwimg", :alt => "rss feed") %>
      </div>
      <div class="small-6 medium-6 large-6 columns">
          <%= image_tag("i_ball.png", :class=>"bwimg", :size => '470x300', :alt => "rss feed") %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="small-6 medium-6 large-6 columns">
          <%= image_tag("graphme.png", :class=>"bwimg", :alt => "rss feed") %>
      </div>
      <div class="small-6 medium-6 large-6 columns">
          <%= image_tag("bobabae.png", :class=>"bwimg",  :alt => "rss feed") %>
      </div>
    </div>
  </div>
  </p>
</div>

<div id="blank-three" class="blank-three">
  <h2>Skills</h2>
</div>

<div class="white">
  <br><br>
  <div class="text"><p>
    <center>
    <div class="skills-row">
      <div class="skill-div">
        <span class="language-icon">
          <strong>languages </strong>
        </span>
        RUBY! JavaScript, SQL, HTML5, CSS3 & Sass<br>
      </div>
      <div class="skill-div">
        <span class="frameworks-icon">
          <strong>frameworks </strong>
        </span>
         Rails, Sinatra, AngularJS, Foundation
      </div>
      <div class="skill-div">
        <span class="libraries-icon">
          <strong>libraries </strong>
        </span>
        Rails, Sinatra, AngularJS, Foundation
      </div>
      <div class="skill-div">
        <span class="UX-icon">
          <strong> UX</strong>
        </span>
        UX Strategies, User goals and work patterns, Interaction Design, Wireframes, Balsamiq
      </div>
      <div class="skill-div">
        <span class="misc-icon">
          <strong>Miscellaneuous</strong>
        </span>
        Agile, AWS, BDD, Circle CI, Git, Heroku, Jasmine, MVC, OAuth, OOP, REST, Relational Databases, RSPEC, TDD
      </div>
    </div>
  </div>
  <br>
  </p></div>
</div>

<div id="blank-four" class="blank-four">
  <h2>Contact</h2>
</div>

<div class="white">
  <div class="text"><p><center>
    <strong>email:</strong> stephaniebarreyro@gmail.com<br>
    <strong>phone:</strong> 415.967.1074
  <br></p>
</div>